/* 🎓 Zone du quizz */
#quiz {
  background-color: #ffffff;
  width: 320px;
  margin: 40px auto;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

#quiz-question {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

#quiz-nom {
  font-size: 2rem;
  font-family: "Amiri", serif;
  color: #1e5f74;
  margin-bottom: 15px;
}

#quiz-options button {
  display: block;
  width: 100%;
  margin: 8px 0;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  background-color: #3caea3;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

#quiz-options button:hover {
  background-color: #2b9e94;
}

#quiz-feedback {
  margin-top: 15px;
  font-weight: bold;
  font-size: 16px;
}

.correct {
  background-color: #3fbf3f !important; /* Vert */
  color: white;
}

.incorrect {
  background-color: #e94f37 !important; /* Rouge */
  color: white;
}